.container{
    height: 100vh;
    margin:auto;
    padding: auto;
    width: 95%;
    background-color: rgb(209, 218, 217);
}

.column{
    width: 33.33%;
}

.header{
    width: 100%;
    background-color: blue;
}

.header ul{
    list-style: none;
    overflow: hidden;
}

.header ul li{
    float: left;
}

.header ul li a{
    text-decoration: none;
    display: block;
    color: rgb(253, 253, 253);
    background-color: blue;
    padding: 10px;
    font-weight: bold;
}

.header ul li a:hover{
    background-color: rgb(1, 1, 8);
}

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
    padding: 0 20px;
}